# Grupo Fifo
#
# Integrantes:
#	Lucio Moya Farina
#	Mariano Scheinkman
#
# Archivo de Configuracion - Query Manager

# IP del Query Manager
IP_LOCAL=127.0.0.1

# Puerto del Query Manager 
PUERTO_LOCAL=6000

# IP del Front-end
IP_FRONTEND=127.0.0.1

# Puerto del Front-end
PUERTO_FRONTEND=5555
